SECRET_KEY=django-insecure-vtj0qpy$bddvl-naqg%$kbi6%2=ld$si9dk^5*u)^xhi#y8_@g
DEBUG=True
DEV=False
DB_NAME=db_app
DB_USER=postgres
DB_PW=linux123
DB_HOST=localhost
DB_PORT=5432
SENTRY_DSN=https://353170b6950641479584ce37163a8277@o953945.ingest.sentry.io/5902874
